# rust files
/target

# python files
/python_tokenizer/minbpe/__pycache__/
/python_tokenizer/.DS_Store
/python_tokenizer/models/**/*
/python_tokenizer/*.pytest_cache
/python_tokenizer/*.model
/python_tokenizer/*.vocab