# rust files
/target

# python files
/karpathy_tokenizer/minbpe/__pycache__/
/karpathy_tokenizer/.DS_Store
/karpathy_tokenizer/models/**/*
/karpathy_tokenizer/*.pytest_cache/
/karpathy_tokenizer/*.model
/karpathy_tokenizer/*.vocab